<!DOCTYPE html>
<html>
<head>
	<title>Galleria Koijarin Unelma</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body> 

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/" title="Etusivu"><span class="glyphicon glyphicon-home"></span></a></li>
			{{#if user}}
			<li role="presentation"><a href="/edit" title="Muokkaa galleriaa"><span class="glyphicon glyphicon-edit"></span></a></li>
            <li role="presentation"><a href="/users/logout" title="Kirjaudu ulos"><span class="glyphicon glyphicon-log-out"></span></a></li>
			{{else}}
            <li role="presentation"><a href="/users/login" title="Kirjaudu sisään"><span class="glyphicon glyphicon-log-in"></a></li>
            <li role="presentation"><a href="/users/register" title="Rekisteröidy"><span class="glyphicon glyphicon-plus"></span></a></li>
			{{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">Galleria Koijarin Unelma</h3>
      </div>


      <div class="row">
        <div class="col-lg-12">

		{{#if success_msg}}
			<div class="alert alert-success">
			{{success_msg}}
			</div>
		{{/if}}	

		{{#if error_msg}}
			<div class="alert alert-danger">
			{{error_msg}}
			</div>
		{{/if}}	

		{{#if error}}
			<div class="alert alert-danger">
			{{error}}
			</div>
		{{/if}}	

		{{{body}}}

        </div>

      <footer class="footer">
        <p>&copy; 2016 Koijarit, Inc.</p>
      </footer>

    </div> <!-- /container -->

</body>
</html>
